@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #d3d3d3; /* Light grey text color */
  background: #2B2D31; /* Dark gradient background */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
